{% extends 'b_head.html.twig' %}

{% block title %}Hackat'Agence
{% endblock %}

{% block body %}
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<header class="text-center text-white d-flex masthead" data-bss-scroll-zoom="true" data-bss-scroll-zoom-speed="1" style="background-image:url({{ asset('img/header.jpg?h=d64d3b1204b99281a7156bbd48871756')}}); ">
		<div class="container my-auto">
			<div class="row" style="margin-top: 80px;">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase" data-aos="fade-down">
						<strong>Des hackathons a disposition pour
							<span style="text-decoration: underline;">vous</span>
						</strong>
					</h1>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							Vous êtes inscrit à
							<a href="/profil/inscriptions">
								<span style="text-decoration: underline;">ce hackathon</span>
							</a>
						</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-danger">
							{{ message }}
						</div>
					{% endfor %}
					<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400" style="border-color: var(--bs-primary);">
				</div>
			</div>
			<div class="col-lg-8 mx-auto">
				<p class="fs-5 text-faded mb-5" data-aos="fade-down" data-aos-delay="100" style="font-family: ABeeZee, sans-serif;">
					<span style="color: rgb(195, 190, 182); background-color: var(--green-100);">
						Les hackathons sont des événements où
																																									les participants sont invités à résoudre des problèmes en utilisant des technologies de
																																									l'informatique.</span><br></p>
				<a class="btn btn-primary btn-xl" role="button" href="#service" style="background: var(--bs-primary);">EXPLORER NOS HACKATHONS<br></a>
				<center>
					<div>
						<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
						<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4vifabc.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
					</div>
				</center>
			</div>
		</div>
	</header>
	<section id="apropos" style="background: var(--bs-primary);border-style: none;">
		<div class="container">
			<div class="row">
				<div class="col offset-lg-8 text-center mx-auto">
					<h2 class="text-white section-heading">Nous sommes&nbsp;<strong>Hackat'Agence 🗿</strong>
					</h2>
					<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="light my-4">
					<p class="fs-5 text-faded mb-4" style="font-family: ABeeZee, sans-serif;filter: blur(0px);backdrop-filter: blur(0px);margin-top: 30px;">Nous
																																																											avons pour but de simplifier&nbsp;la gestion de l'organisation&nbsp;de hackathons. Pour cela plusieurs
																																																											applications&nbsp;sont en cours de développement, dont celle que vous consultez en ce moment
																																																											même.<br><br><br>Hackat'Agence, c'est une plateforme web, mais aussi une&nbsp;application mobile
						<br>qui
																																																											permet aux participants de suivre toutes les activités annexes des hackathons.<br>Enfin, c'est aussi une
																																																											application bureau, pour simplifier le travail des organisateurs en coordonnant les différentes
																																																											opérations.<br><br><br>L'entreprise a été créée en 2022 par trois entrepreneurs français, Théo Proutière,
																																																											Nikolas Loizeau, et Théo Palestro.<br><br></p>
					<a class="btn btn-light btn-xl" role="button" href="#service">plus de DÉTAILs</a>
				</div>
			</div>
		</div>
	</section>
	<section id="service">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 data-aos="fade" class="section-heading">Un service de qualité supérieure✨</h2>
					<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="my-4" style="border-color: var(--bs-primary);">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 text-center">
					<div class="mx-auto service-box mt-5" data-aos="fade">
						<svg
							xmlns="http://www.w3.org/2000/svg" viewbox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
							<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
							<path d="M216.1 408.1C207.6 418.3 192.4 418.3 183 408.1L119 344.1C109.7 335.6 109.7 320.4 119 311C128.4 301.7 143.6 301.7 152.1 311L200 358.1L295 263C304.4 253.7 319.6 253.7 328.1 263C338.3 272.4 338.3 287.6 328.1 296.1L216.1 408.1zM128 0C141.3 0 152 10.75 152 24V64H296V24C296 10.75 306.7 0 320 0C333.3 0 344 10.75 344 24V64H384C419.3 64 448 92.65 448 128V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V128C0 92.65 28.65 64 64 64H104V24C104 10.75 114.7 0 128 0zM400 192H48V448C48 456.8 55.16 464 64 464H384C392.8 464 400 456.8 400 448V192z"></path>
						</svg>
						<h3 class="text-center mb-3">Des Hackathons réguliers</h3>
						<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Permettent aux participants
																																																																																																										              de développer leurs compétences et de se familiariser avec les outils et différentes
																																																																																																										              technologies/outils.<br></p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<div class="mx-auto service-box mt-5" data-aos="fade" data-aos-delay="50">
						<svg
							xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
							<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
							<path d="M304 48C304 74.51 282.5 96 256 96C229.5 96 208 74.51 208 48C208 21.49 229.5 0 256 0C282.5 0 304 21.49 304 48zM248 352V480C248 497.7 233.7 512 216 512C198.3 512 184 497.7 184 480V256.9L155.4 304.5C146.3 319.6 126.7 324.5 111.5 315.4C96.37 306.3 91.47 286.7 100.6 271.5L158.8 174.6C176.2 145.7 207.4 128 241.1 128H270.9C304.6 128 335.8 145.7 353.2 174.6L411.4 271.5C420.5 286.7 415.6 306.3 400.5 315.4C385.3 324.5 365.7 319.6 356.6 304.5L328 256.9V480C328 497.7 313.7 512 296 512C278.3 512 264 497.7 264 480V352L248 352zM7.029 7.029C16.4-2.343 31.6-2.343 40.97 7.029L120.1 87.03C130.3 96.4 130.3 111.6 120.1 120.1C111.6 130.3 96.4 130.3 87.03 120.1L7.029 40.97C-2.343 31.6-2.343 16.4 7.029 7.029V7.029zM471 7.029C480.4-2.343 495.6-2.343 504.1 7.029C514.3 16.4 514.3 31.6 504.1 40.97L424.1 120.1C415.6 130.3 400.4 130.3 391 120.1C381.7 111.6 381.7 96.4 391 87.03L471 7.029zM7.029 471L87.03 391C96.4 381.7 111.6 381.7 120.1 391C130.3 400.4 130.3 415.6 120.1 424.1L40.97 504.1C31.6 514.3 16.4 514.3 7.029 504.1C-2.343 495.6-2.343 480.4 7.029 471V471zM391 424.1C381.7 415.6 381.7 400.4 391 391C400.4 381.7 415.6 381.7 424.1 391L504.1 471C514.3 480.4 514.3 495.6 504.1 504.1C495.6 514.3 480.4 514.3 471 504.1L391 424.1z"></path>
						</svg>
						<h3 class="mb-3">Intervenants de renommée&nbsp;</h3>
						<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Apportent leur expertise et
																																																																																																										              leur savoir-faire aux participants, ce qui leur permet d'améliorer leurs propres compétences.<br></p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<div class="mx-auto service-box mt-5" data-aos="fade" data-aos-delay="150">
						<svg
							xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
							<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
							<path d="M482.8 29.23C521.7 68.21 521.7 131.4 482.8 170.4L381.2 271.9L390.6 281.4C403.1 293.9 403.1 314.1 390.6 326.6C378.1 339.1 357.9 339.1 345.4 326.6L185.4 166.6C172.9 154.1 172.9 133.9 185.4 121.4C197.9 108.9 218.1 108.9 230.6 121.4L240.1 130.8L341.6 29.23C380.6-9.744 443.8-9.744 482.8 29.23L482.8 29.23zM55.43 323.3L176.1 202.6L221.4 247.9L100.7 368.6C97.69 371.6 96 375.6 96 379.9V416H132.1C136.4 416 140.4 414.3 143.4 411.3L264.1 290.6L309.4 335.9L188.7 456.6C173.7 471.6 153.3 480 132.1 480H89.69L49.75 506.6C37.06 515.1 20.16 513.4 9.373 502.6C-1.413 491.8-3.086 474.9 5.375 462.2L32 422.3V379.9C32 358.7 40.43 338.3 55.43 323.3L55.43 323.3z"></path>
						</svg>
						<h3 class="mb-3">Ateliers d'initiation pour les débutants</h3>
						<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Contribue à apprendre les
																																																																																																										              bases nécessaires pour se lancer dans différents projet et permettent de progresser rapidement</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 offset-xxl-0 text-center">
					<div class="mx-auto service-box mt-5" data-aos="fade" data-aos-delay="100">
						<svg
							xmlns="http://www.w3.org/2000/svg" viewbox="0 -64 640 640" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
							<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
							<path d="M412.6 182c-10.28-8.334-25.41-6.867-33.75 3.402c-8.406 10.24-6.906 25.35 3.375 33.74C393.5 228.4 400 241.8 400 255.1c0 14.17-6.5 27.59-17.81 36.83c-10.28 8.396-11.78 23.5-3.375 33.74c4.719 5.806 11.62 8.802 18.56 8.802c5.344 0 10.75-1.779 15.19-5.399C435.1 311.5 448 284.6 448 255.1S435.1 200.4 412.6 182zM473.1 108.2c-10.22-8.334-25.34-6.898-33.78 3.34c-8.406 10.24-6.906 25.35 3.344 33.74C476.6 172.1 496 213.3 496 255.1s-19.44 82.1-53.31 110.7c-10.25 8.396-11.75 23.5-3.344 33.74c4.75 5.775 11.62 8.771 18.56 8.771c5.375 0 10.75-1.779 15.22-5.431C518.2 366.9 544 313 544 255.1S518.2 145 473.1 108.2zM534.4 33.4c-10.22-8.334-25.34-6.867-33.78 3.34c-8.406 10.24-6.906 25.35 3.344 33.74C559.9 116.3 592 183.9 592 255.1s-32.09 139.7-88.06 185.5c-10.25 8.396-11.75 23.5-3.344 33.74C505.3 481 512.2 484 519.2 484c5.375 0 10.75-1.779 15.22-5.431C601.5 423.6 640 342.5 640 255.1S601.5 88.34 534.4 33.4zM301.2 34.98c-11.5-5.181-25.01-3.076-34.43 5.29L131.8 160.1H48c-26.51 0-48 21.48-48 47.96v95.92c0 26.48 21.49 47.96 48 47.96h83.84l134.9 119.8C272.7 477 280.3 479.8 288 479.8c4.438 0 8.959-.9314 13.16-2.835C312.7 471.8 320 460.4 320 447.9V64.12C320 51.55 312.7 40.13 301.2 34.98z"></path>
						</svg>
						<h3 class="mb-3">Conférences sur divers sujets</h3>
						<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Permet d'en apprendre
																																																																																																										              davantage sur les différents aspects du développement et de se tenir au courant des dernières tendances.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		id="hackathons" class="p-0">
		<!-- recherche ajax interactive
																				<script>
																					function showResult(str) {
																		if (str.length == 0) {
																		document.getElementById("livesearch").innerHTML = "";
																		document.getElementById("livesearch").style.border = "0px";
																		return;
																		}
																		var xmlhttp = new XMLHttpRequest();
																		xmlhttp.onreadystatechange = function () {
																		if (this.readyState == 4 && this.status == 200) {
																		document.getElementById("livesearch").innerHTML = this.responseText;
																		document.getElementById("livesearch").style.border = "1px solid #A5ACB2";
																		}
																		}
																		xmlhttp.open("GET", "http://127.0.0.1:8001/api/recherche/" + str, true);
																		xmlhttp.send();
																		}
																				</script>
																		
																				<form style="display:flex ; justify-content: flex-end">
																					<input type="text" size="30" onkeyup="showResult(this.value)" placeholder="Rechercher la ville d'un hackathon">
																					<div id="livesearch"></div>
																				</form>-->
		<script>
			function recherche() {
var input,
filter,
table,
div,
span,
i,
txtValue;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("table_hackat");
div = table.getElementsByTagName("div");
for (i = 0; i < div.length; i++) {
span = div[i].getElementsByTagName("span")[0];
if (span) {
txtValue = span.textContent || span.innerText;
if (txtValue.toUpperCase().indexOf(filter) > -1) {
div[i].style.display = "";
} else { // on met les dsiplay div à none, sauf pour hackaNameDiv, hackaDetailDiv, portfolio-box-caption-content
if (div[i].id != "hackaNameDiv" && div[i].id != "hackaDetailDiv" && div[i].className != "portfolio-box-caption-content") {
div[i].style.display = "none";
} else {
div[i].style.display = "";

}
}
}
}
}
		</script>
		<!--- <div id="recherche" class="container-fluid p-0" style="display:flex ; justify-content: flex-end">
													<input type="text" id="search" placeholder="Rechercher un hackathon" style="width: 25%;height: 50px;border: none;border-radius: 0px;color: var(--bs-light);font-size: 20px;">
													<a class="btn btn-light btn-xl" role="button" href="#hackathons">rechercher</a>
												</div>-->
		<div class="container-fluid p-0" style="max-width: 1950px;">
			<div class="row g-0 justify-content-between">
				<div class="col text-center mx-auto">
					<h2 class="section-heading">Nos hackathons</h2>
					<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="my-4 aos-init aos-animate" style="/* border-color: var(--bs-primary); */">
					<p class="mb-5" style="font-family: ABeeZee, sans-serif;">Parcourez nos hackathons du moment ou recherchez votre ville !
						<br>Et pour plus d'informations sur un hackathon, on clique dessus ! 😉</p>
				</div>
				<div class="col text-center mx-auto" style="display: flex;align-items: center;justify-content: flex-end;">
					<input class="form-control" type="text" id="myInput" onkeyup="recherche()" placeholder="Rechercher une ville :" title="Type in a name" style="background-image: url(https://www.w3schools.com/css/searchicon.png);background-position: 10px 15px;background-repeat: no-repeat;width: 560px;padding: 12px 20px 12px 40px;border: 1px solid #ddd;margin: 50px;border-radius: 50px;font-family: Open Sans,Helvetica Neue,Arial,sans-serif;">
				</div>
			</div>
			<div style="display:flex;justify-content: center;">
				<div id="table_hackat" class="row g-0 popup-gallery" style="width:1950px">
					{% for hackathon in hackathons %}
						<div class="col-sm-6 col-lg-4">
							<a class="portfolio-box" data-id="{{hackathon.id}}" style="height: 100%;min-height: 220px;">
								<img class="img-fluid" style="width:100%;height: 100%;object-fit: cover;" src={{hackathon.image}}>
								<div class="portfolio-box-caption" style="background: var(--bs-primary);">
									<div id="hackaVilleDiv" class="project-name" style="text-align:end;margin:20px;">
										<span id="hackatVille" style="font-family: 'Open Sans', sans-serif;background: aliceblue;padding: 5px 15px 5px 15px;border-radius: 30px;color: var(--bs-blue);">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewbox="0 0 16 16">
												<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
											</svg>
											{{hackathon.ville}}</span>
									</div>
									<div class="portfolio-box-caption-content" style="cursor: pointer;">
										<div id="hackaNameDiv" class="project-category text-faded">
											<span id="hackaName" style="font-family: 'Open Sans', sans-serif;">{{hackathon.theme}}</span>
										</div>
										<div id="hackaDetailDiv" class="project-name">
											<span id="hackaDetail" style="font-family: 'Open Sans', sans-serif;">{{hackathon.description}}</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!-- Modal -->
						<div id="myModal{{hackathon.id}}" class="modal fade" role="dialog">
							<div
								class="modal-dialog modal-lg">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Informations sur ce hackathon</h4>
										{% if app.user %}
											<div id="{{hackathon.id}}" class="project-name" style="margin:20px;">
												{% if hackathon in favoris %}
													<a id="estfavori" class="coeurfavoris" href="" style="font-family: 'Open Sans', sans-serif;margin-top: 10px;background: aliceblue;padding: 15px 40px 15px 40px;border-radius: 30px;color: var(--bs-blue);">
														<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"></path>
														</svg>
													</a>
												{% else %}
													<a id="nonfavori" class="coeurfavoris" href="" style="font-family: 'Open Sans', sans-serif;margin-top: 10px;background: aliceblue;padding: 15px 40px 15px 40px;border-radius: 30px;color: var(--bs-blue);">
														<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"></path>
														</svg>
													</a>
												{% endif %}
											</div>
										{% endif %}
									</div>
									<div class="modal-body" style="display: flex;font-family:Open Sans,Helvetica Neue,Arial,sans-serif !important;flex-direction: column;">
										<p>Aucune information à afficher.</p>

									</div>
									<div class="modal-footer">
										{% if app.user %}
											<a type="button" id="rejoindre" class="btn btn-primary btn-lg" href="{{path('app_inscription_hackathon', {id: hackathon.id})}}">Rejoindre ce hackathon</a>
										{% else %}
											<button type="button " class="btn btn-secondary" href="/connexion.php" data-bs-target="#connexionModal" data-bs-toggle="modal">Veuillez vous connecter pour rejoindre ce hackathon</button>
										{% endif %}
										<button type="button" class="btn btn-default btn-lg" data-bs-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<script>
						/* lesLiens contient la liste des éléments <a> correspond au lien avec le 
pouce, le nombre de like et le j'aime */
var favoris = document.getElementsByClassName('coeurfavoris')

/* On parcourt la liste des liens et on ajoute un écouteur d'événement
sur le clic de la souris */
for (let i = 0; i < favoris.length; i++) {
favoris[i].addEventListener('click', majFavoris)
}
function majFavoris(event) {
event.preventDefault()
let xhr = new XMLHttpRequest();
let baliseA = event.currentTarget;
let url = baliseA.getAttribute('href');
console.log(baliseA);
console.log(url);
xhr.open("GET", url);
xhr.responseType = "json";
xhr.send();

xhr.onload = function () {
if (xhr.status != 200) {
alert("Erreur " + xhr.status + " : " + xhr.statusText);
} else { // on regarde si la réponse est à {"success":"0"}, on masque le a avec l'id "nonfavori"
if (xhr.response.success == "0") { // on masque la balise A
baliseA.classList.add('d-none');

// on ajoute une nouvelle div a dans la classe parente social-info
let div = document.createElement('a');
div.setAttribute('id', 'nonfavori');
div.setAttribute('class', 'coeurfavoris');
div.setAttribute('href', '/fav/hackathon/' + baliseA.parentNode.getAttribute('id'));
div.setAttribute('style', "font-family: 'Open Sans', sans-serif;margin-top: 10px;background: aliceblue;padding: 15px 40px 15px 40px;border-radius: 30px;color: var(--bs-blue);")
div.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"></path></svg></a>';
baliseA.parentNode.appendChild(div);

// on ajoute un écouteur d'événement sur le clic de la souris
div.addEventListener('click', majFavoris);
} else { // on masque la balise A
baliseA.classList.add('d-none');

// on ajoute une nouvelle div a dans la classe parente social-info
let div = document.createElement('a');
div.setAttribute('id', 'estfavori');
div.setAttribute('class', 'coeurfavoris');
div.setAttribute('href', '/fav/hackathon/' + baliseA.parentNode.getAttribute('id'));
div.setAttribute('style', "font-family: 'Open Sans', sans-serif;margin-top: 10px;background: aliceblue;padding: 15px 40px 15px 40px;border-radius: 30px;color: var(--bs-blue);")
div.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5"><path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"></path></svg></a>';
baliseA.parentNode.appendChild(div);

// on ajoute un écouteur d'événement sur le clic de la souris
div.addEventListener('click', majFavoris);
}
};
};
};
					</script>
					<script>
						(function ($) {
$('.portfolio-box').on('click', function () { // on affiche un loader en attendant que le modal s'affiche
let infoModal = $('#myModal' + $(this).data('id'));
infoModal.find('.modal-body').html('<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>');
infoModal.modal('show');

// on récupère les données de l'API
$.ajax({
type: "GET",
url: '/api/hackathons/' + $(this).data('id'),
dataType: 'json',
success: function (data) {
console.log(data);
htmlData = '<img src="' + data.image + '" class="img-fluid" alt="image du hackathon"><br><br><h4> ' + data.theme + '</h4><br><ul><li><strong>Description:</strong> ' + data.description + '</li><li><strong>Lieu:</strong> ' + data.lieu + ', ' + data.rue + ' à ' + data.ville + ' - ' + data.cp + '<iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBBsM0iiWw3EHaTaHnRYtYPWq5GeBEM2pE&amp;q=' + data.lieu + ',' + data.rue + ',' + data.ville + '&amp;zoom=8" loading="lazy" width="100%" height="300"></iframe><br></li><li><strong>Date limite d\'inscription:</strong> ' + data.dateLimite.date + '</li><li><strong>Nombre de places restantes:</strong> ' + data.nbPlaces + '</li></ul>';
infoModal.find('.modal-body').html(htmlData);

// on met l'attribut href du bouton avec id "rejoindre" dans le modal en question à l'id du hackathon

// on met l'attribut du href du a avec la classe coeurfavoris à l'id du hackathon
$('.coeurfavoris').attr('href', '/fav/hackathon/' + data.id);
infoModal.modal('show');
}
});

return false;
});
})(jQuery);
					</script>
				</div>
			</div>
		</div>

	</section>
	<section class="text-white" id="galerie" style="border-radius: 0 0 20px 20px;background: rgb(7,106,224,1);background: linear-gradient(180deg, rgba(0,62,136,1) 0%, rgba(7,106,224,1) 100%);">
		<div class="container text-center">
			<h2 data-aos="fade" data-aos-once="true" class="mb-4">Quelques photos de nos hackathons</h2>
			<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="light my-4">
		</div>
		<!-- Start: Cool Lightbox with Gallery -->
		<div class="container">
			<div class="row" data-aos="fade-up" data-aos-once="true" style="margin-top: 4rem;">
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a data-fancybox="gallery" href="{{ asset('img/gallerie/1.jpg?h=68edb08842d0ff16554d66a83280c4db') }}"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/1.jpg?h=68edb08842d0ff16554d66a83280c4db') }}"></a>
				</div>
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/2.jpg?h=2060444eb1256ce9bb74b5552095191c') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/2.jpg?h=2060444eb1256ce9bb74b5552095191c') }}"></a>
				</div>
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/3.jpg?h=85998555d90aa838f21f09429beb9154') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/3.jpg?h=85998555d90aa838f21f09429beb9154') }}"></a>
				</div>
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/4.jpg?h=0f9562f049bdd495f85ab99f4893fb62') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/4.jpg?h=0f9562f049bdd495f85ab99f4893fb62') }}"></a>
				</div>
			</div>
			<div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" style="margin-bottom: -50px;">
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/5.jpg?h=6bac7df9f12d48eccb6446ac368c239e') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/5.jpg?h=6bac7df9f12d48eccb6446ac368c239e') }}"></a>
				</div>
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/6.jpg?h=36a805561332fb2945678ec47212f7d4') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/6.jpg?h=36a805561332fb2945678ec47212f7d4') }}"></a>
				</div>
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/7.jpg?h=622341fb5af9111da1ae91d45dcec575') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/7.jpg?h=622341fb5af9111da1ae91d45dcec575') }}"></a>
				</div>
				<div class="col-md-3" style="margin-bottom: 50px;">
					<a href="{{ asset('img/gallerie/8.jpg?h=ecb2b2d80b53b28212174c1f6bb4fb01') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/8.jpg?h=ecb2b2d80b53b28212174c1f6bb4fb01') }}"></a>
				</div>
			</div>
		</div>
		<!-- End: Cool Lightbox with Gallery -->
	</section>
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center mx-auto">
					<h2 class="section-heading">Contactez-nous !</h2>
					<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="my-4" style="border-color: var(--bs-primary);">
					<p class="mb-5" style="font-family: ABeeZee, sans-serif;">Prêt à participer à nos hackathons ? C'est super !
						<br>Vous avez des questions ? C'est normal !
						<br/>
						<br>Appelez-nous ou envoyez-nous un courriel et nous vous répondrons dans les plus brefs délais</p>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-6 col-lg-4 col-xl-4">
					<div class="d-flex flex-column justify-content-center align-items-start h-100">
						<div class="d-flex align-items-center p-3">
							<div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-telephone">
									<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
								</svg>
							</div>
							<div class="px-2">
								<h6 data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="350" data-aos-once="true" class="mb-0" style="font-weight: bold;">Téléphone</h6>
								<p data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="400" data-aos-once="true" class="mb-0" style="font-family: ABeeZee, sans-serif;">06 65 54 43 32<br></p>
							</div>
						</div>
						<div class="d-flex align-items-center p-3">
							<div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-envelope">
									<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
								</svg>
							</div>
							<div class="px-2">
								<h6 data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="350" data-aos-once="true" class="mb-0" style="font-weight: bold;">Email</h6>
								<p data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="400" data-aos-once="true" class="mb-0" style="font-family: ABeeZee, sans-serif;">hackantt@gmail.com</p>
							</div>
						</div>
						<div class="d-flex align-items-center p-3">
							<div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-pin">
									<path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
								</svg>
							</div>
							<div class="px-2">
								<h6 data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="350" data-aos-once="true" class="mb-0" style="font-weight: bold;">Localisation</h6>
								<p data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="400" data-aos-once="true" class="mb-0" style="font-family: ABeeZee, sans-serif;">France - Savary de Mauléon</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-5 col-xl-4">
					<div>
						<form
							id="contact" class="p-3 p-xl-4" method="post">
							<!-- Start: Success Example -->
							<div class="mb-3"></div>
							<!-- End: Success Example -->
							<!-- Start: Error Example -->
							<div class="mb-3"><input class="form-control" type="email" id="email" name="email" placeholder="Email" style="font-family: ABeeZee, sans-serif;"></div>
							<!-- End: Error Example -->
							<div class="mb-3">
								<textarea class="form-control" id="message" name="message" rows="6" placeholder="Message" style="font-family: ABeeZee, sans-serif;"></textarea>
							</div>
							<div>
								<button class="btn btn-primary d-block w-100" id="envoyer" type="submit" style="background: var(--bs-primary);">Envoyer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
