{% extends 'b_head.html.twig' %}

{% block title %}Mes inscriptions
{% endblock %}

{% block body %}
<div style="background-color:#076ae0;height:64px">
</div>
	<header class="d-flex h-25" data-bss-scroll-zoom="true" data-bss-scroll-zoom-speed="1">
		<div class="container my-auto">
		<div class="alert" role="alert">
			<h1>A quoi suis-je inscrit ? 💡</h1>
			<br>
			<p class="mb-0" style="font-family: ABeeZee, sans-serif;"> - Vous voulez voir nos hackathons, ou vous inscrire ?
				<br> - C'est
				<a href="{{path('app_home')}}">ici</a>.</p>
		</div>
		</div>
	</header>

<div class="container"style="margin-bottom: 5%;">
	<br/>
	<div class="card"id="compte"style="font-family: Open Sans,Helvetica Neue,Arial,sans-serif;">
		<div class="card-body">
			<h5 class="card-title">Créons votre compte 👋</h5>

			{{ form_start(form) }}
			<br/>
			{{form_row(form.nom) }}
			<br/>
			{{ form_row(form.prenom) }}
			<br/>
			{{ form_row(form.mail) }}
			<br/>
			{{ form_row(form.tel) }}
			<br/>
			{{ form_row(form.dateNaissance) }}
			<br/>
			{{ form_row(form.lienPortfolio) }}
			<br/>
			{{ form_row(form.login) }}
			<br/>
			{{ form_row(form.password) }}
			<br/>
			<div class="d-grid gap-2">
			<input class="btn btn-primary btn-lg" type='submit' value="Je m'inscris" name='btnSubmit'>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
