{% extends 'b_head.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<div style="background-color:#076ae0;height:64px;height: 75px;margin-bottom: 50px;position: fixed;width:100%;"></div>

	<!-- Start: 1 Row 2 Columns -->
	<div class="container-lg">
		<div class="row gx-md-0">
			<div class="col-md-4 col-lg-3 col-xl-3" style="margin-top: 100px;">
				<div id="sidebar-main" class="sidebar sidebar-default sidebar-separate">
					<div class="sidebar-category sidebar-default">
						<div class="category-title">
							<span>{{ app.user.nom }} {{ app.user.prenom }}</span>
						</div>
						<div class="category-content">
							<ul class="nav flex-column" id="profil-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_profil')}}">
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-4" aria-hidden="true"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
										</svg>
										Mon profil</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="{{path('app_inscriptions')}}">
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-4" aria-hidden="true"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M152.1 38.16C161.9 47.03 162.7 62.2 153.8 72.06L81.84 152.1C77.43 156.9 71.21 159.8 64.63 159.1C58.05 160.2 51.69 157.6 47.03 152.1L7.029 112.1C-2.343 103.6-2.343 88.4 7.029 79.03C16.4 69.66 31.6 69.66 40.97 79.03L63.08 101.1L118.2 39.94C127 30.09 142.2 29.29 152.1 38.16V38.16zM152.1 198.2C161.9 207 162.7 222.2 153.8 232.1L81.84 312.1C77.43 316.9 71.21 319.8 64.63 319.1C58.05 320.2 51.69 317.6 47.03 312.1L7.029 272.1C-2.343 263.6-2.343 248.4 7.029 239C16.4 229.7 31.6 229.7 40.97 239L63.08 261.1L118.2 199.9C127 190.1 142.2 189.3 152.1 198.2V198.2zM224 96C224 78.33 238.3 64 256 64H480C497.7 64 512 78.33 512 96C512 113.7 497.7 128 480 128H256C238.3 128 224 113.7 224 96V96zM224 256C224 238.3 238.3 224 256 224H480C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H256C238.3 288 224 273.7 224 256zM160 416C160 398.3 174.3 384 192 384H480C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H192C174.3 448 160 433.7 160 416zM0 416C0 389.5 21.49 368 48 368C74.51 368 96 389.5 96 416C96 442.5 74.51 464 48 464C21.49 464 0 442.5 0 416z"></path>
										</svg>&nbsp;Mes inscriptions</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="{{path('app_favoris')}}">
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-4" aria-hidden="true"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M256.3-.0068C261.9-.0507 267.3 1.386 272.1 4.066L476.5 90.53C487.7 95.27 495.2 105.1 495.9 118.1C501.6 213.6 466.7 421.9 272.5 507.7C267.6 510.5 261.1 512.1 256.3 512C250.5 512.1 244.9 510.5 239.1 507.7C45.8 421.9 10.95 213.6 16.57 118.1C17.28 105.1 24.83 95.27 36.04 90.53L240.4 4.066C245.2 1.386 250.7-.0507 256.3-.0068H256.3zM266.1 363.4L364.2 263.6C392.2 234.7 390.5 186.6 358.1 159.5C331.8 135.8 291.5 140.2 266.1 166.5L256.4 176.1L245.9 166.5C221.4 140.2 180.2 135.8 153 159.5C121.5 186.6 119.8 234.7 147.8 263.6L244.2 363.4C251.2 369.5 260.8 369.5 266.1 363.4V363.4z"></path>
										</svg>
										Hackathons favoris</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-9 col-xl-9"style="margin-top: 100px;">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path('app_home')}}#page-top">
								<span>Home</span>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a>
								<span>Profil</span>
							</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							<span>Mes inscriptions</span>
						</li>
					</ol>
					<div class="row justify-content-center">
						<div class="col-12 col-sm-8 col-lg-6">
							<div class="text-center section_heading wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible;animation-delay: 0.2s;animation-name: fadeInUp;">
								<h4 style="margin-top: 10px;">Vos Hackathons favoris&nbsp;<a href="https://www.bing.com/ck/a?!&amp;&amp;p=b8dcbd96cd241d00JmltdHM9MTY3OTAxMTIwMCZpZ3VpZD0wMDZmYzBjZi1iOWU2LTZjYTMtMTNmNy1kMjBhYjhlMTZkOTQmaW5zaWQ9NTE5Mw&amp;ptn=3&amp;hsh=3&amp;fclid=006fc0cf-b9e6-6ca3-13f7-d20ab8e16d94&amp;psq=emojis+etoile&amp;u=a1aHR0cHM6Ly9lbW9qaXBlZGlhLm9yZy9mci8lQzMlQTl0b2lsZS8&amp;ntb=1" target="_blank">
												<span style="color: rgb(26, 13, 171);">⭐</span>
											</a>
										</h4>
								<div class="line"></div>
							</div>
						</div>
					</div>
					<div class="row">
                    {% for hackathon in hackathons %}
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible;animation-delay: 0.2s;animation-name: fadeInUp;">
								<div class="advisor_thumb"><img class="rounded" src="{{hackathon.image}}" alt="" height="300px"><div class="social-info">
										<a href="#">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
											</svg>
										</a>
									</div>
								</div>
								<div class="single_advisor_details_info">
									<h6>{{hackathon.theme}}</h6>
									<p class="designation">Du {{hackathon.dateDebut|format_datetime('short', 'none', locale='fr')}} au {{hackathon.dateFin|format_datetime('short', 'none', locale='fr')}}</p>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
