<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>
			{% block title %}Home - Brand
			{% endblock %}
		</title>
		<meta name="theme-color" content="#076ae0">
		<meta name="twitter:description" content="Nous avons pour but de simplifier la gestion de l'organisation de hackathons.">
		<meta name="twitter:image" content="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<meta property="og:image" content="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<meta name="description" content="Nous avons pour but de simplifier la gestion de l'organisation de hackathons.">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Hackat'Web">
		<link rel="icon" type="image/png" sizes="1080x1080" href="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<link rel="icon" type="image/png" sizes="1080x1080" href="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<link rel="icon" type="image/png" sizes="1080x1080" href="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<link rel="icon" type="image/png" sizes="1080x1080" href="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<link rel="icon" type="image/png" sizes="1080x1080" href="{{ asset('img/logo/Hackat%27Agence-color.png?h=b3747d75945ea47dc469ad4bb408fb73') }}">
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css?h=012df120f3b0c7b81bee90c64257b484') }}">
		<link rel="manifest" href="manifest.json?h=4fcbef6d7cb1822999562052401291ef">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
		<link rel="stylesheet" href="{{ asset('css/styles.min.css?h=2007a37c61b2230e29f9e889258575b2') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
	</head>
	<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
		{% block body %}
			<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
				<div class="container">
					<a class="navbar-brand" data-aos="zoom-in-down" data-aos-once="true" href="#page-top">Hackat'WEB</a>
					<button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-style: none;">
						<svg
							xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor">
							<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
							<path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM64 256C64 238.3 78.33 224 96 224H480C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H96C78.33 288 64 273.7 64 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"></path>
						</svg>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav d-lg-flex ms-auto align-items-lg-center">
							<li class="nav-item">
								<a class="nav-link" data-aos="zoom-in-down" data-aos-delay="50" data-aos-once="true" href="#apropos">A propos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-aos="zoom-in-down" data-aos-delay="100" data-aos-once="true" href="#service">Service</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-aos="zoom-in-down" data-aos-delay="150" data-aos-once="true" href="#hackathons">Hackathons</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-aos="zoom-in-down" data-aos-delay="200" data-aos-once="true" href="#galerie">Galerie</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-aos="zoom-in-down" data-aos-delay="250" data-aos-once="true" href="#contact">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link border rounded-pill border-2 d-flex justify-content-center justify-content-sm-center align-items-sm-center align-items-xxl-center" data-aos="zoom-in-down" data-aos-delay="300" data-aos-once="true" id="btnConnexion" href="/connexion.php" data-bs-target="#connexionModal" data-bs-toggle="modal">
									<svg
										xmlns="http://www.w3.org/2000/svg" viewbox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5" style="margin-right: 8px;">
										<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
										<path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z"></path>
									</svg>
									<p id="username" style="margin-bottom: 0px;padding-bottom: 0px;">CONNEXION</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="modal fade" role="dialog" tabindex="-1" id="connexionModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header d-xxl-flex align-items-xxl-start">
							<h2>Se connecter</h2>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-center">
							<div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4" style="background: var(--bs-primary);">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-person">
									<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
								</svg>
							</div>
							<form class="text-center" method="post" style="font-family: ABeeZee, sans-serif;min-width: 50%;" action="/connexion.php">
								<div class="mb-3"><input class="form-control" type="email" name="login" placeholder="Utilisateur"></div>
								<div class="mb-3"><input class="form-control" type="password" name="mdp" placeholder="Mot de passe" style="font-family: ABeeZee, sans-serif;"></div>
								<div class="mb-3">
									<button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-primary);">CONNEXION&nbsp;</button>
								</div>
								<p class="text-muted" style="font-family: ABeeZee, sans-serif;">Mot de passe oublié ?</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<header class="text-center text-white d-flex masthead" data-bss-scroll-zoom="true" data-bss-scroll-zoom-speed="1" style="
															            background-image:url({{ asset('img/header.jpg?h=d64d3b1204b99281a7156bbd48871756')}}); ">
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase" data-aos="fade-down">
								<strong>Des hackathons a disposition pour
									<span style="text-decoration: underline;">vous</span>
								</strong>
							</h1>
							<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400" style="border-color: var(--bs-primary);">
						</div>
					</div>
					<div class="col-lg-8 mx-auto">
						<p class="fs-5 text-faded mb-5" data-aos="fade-down" data-aos-delay="100" style="font-family: ABeeZee, sans-serif;">
							<span style="color: rgb(195, 190, 182); background-color: var(--green-100);">Les hackathons sont des événements où
																																            les participants sont invités à résoudre des problèmes en utilisant des technologies de
																																            l'informatique.</span><br></p>
						<a class="btn btn-primary btn-xl" role="button" href="#service" style="background: var(--bs-primary);">EXPLORER NOS HACKATHONS<br></a>
						<center>
							<div>
								<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
								<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4vifabc.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
							</div>
						</center>
					</div>
				</div>
			</header>
			<section id="apropos" style="background: var(--bs-primary);border-style: none;">
				<div class="container">
					<div class="row">
						<div class="col offset-lg-8 text-center mx-auto">
							<h2 class="text-white section-heading">Nous sommes&nbsp;<strong>Hackat'Agence 🗿</strong>
							</h2>
							<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="light my-4">
							<p class="fs-5 text-faded mb-4" style="font-family: ABeeZee, sans-serif;filter: blur(0px);backdrop-filter: blur(0px);margin-top: 30px;">Nous
																																            avons pour but de simplifier&nbsp;la gestion de l'organisation&nbsp;de hackathons. Pour cela plusieurs
																																            applications&nbsp;sont en cours de développement, dont celle que vous consultez en ce moment
																																            même.<br><br><br>Hackat'Agence, c'est une plateforme web, mais aussi une&nbsp;application mobile
								<br>qui
																																            permet aux participants de suivre toutes les activités annexes des hackathons.<br>Enfin, c'est aussi une
																																            application bureau, pour simplifier le travail des organisateurs en coordonnant les différentes
																																            opérations.<br><br><br>L'entreprise a été créée en 2022 par trois entrepreneurs français, Théo Proutière,
																																            Nikolas Loizeau, et Théo Palestro.<br><br></p>
							<a class="btn btn-light btn-xl" role="button" href="#service">plus de DÉTAILs</a>
						</div>
					</div>
				</div>
			</section>
			<section id="service">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 data-aos="fade" class="section-heading">Un service de qualité supérieure✨</h2>
							<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="my-4" style="border-color: var(--bs-primary);">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-3 text-center">
							<div class="mx-auto service-box mt-5" data-aos="fade">
								<svg
									xmlns="http://www.w3.org/2000/svg" viewbox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
									<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
									<path d="M216.1 408.1C207.6 418.3 192.4 418.3 183 408.1L119 344.1C109.7 335.6 109.7 320.4 119 311C128.4 301.7 143.6 301.7 152.1 311L200 358.1L295 263C304.4 253.7 319.6 253.7 328.1 263C338.3 272.4 338.3 287.6 328.1 296.1L216.1 408.1zM128 0C141.3 0 152 10.75 152 24V64H296V24C296 10.75 306.7 0 320 0C333.3 0 344 10.75 344 24V64H384C419.3 64 448 92.65 448 128V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V128C0 92.65 28.65 64 64 64H104V24C104 10.75 114.7 0 128 0zM400 192H48V448C48 456.8 55.16 464 64 464H384C392.8 464 400 456.8 400 448V192z"></path>
								</svg>
								<h3 class="text-center mb-3">Des Hackathons réguliers</h3>
								<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Permettent aux participants
																																				              de développer leurs compétences et de se familiariser avec les outils et différentes
																																				              technologies/outils.<br></p>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="mx-auto service-box mt-5" data-aos="fade" data-aos-delay="50">
								<svg
									xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
									<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
									<path d="M304 48C304 74.51 282.5 96 256 96C229.5 96 208 74.51 208 48C208 21.49 229.5 0 256 0C282.5 0 304 21.49 304 48zM248 352V480C248 497.7 233.7 512 216 512C198.3 512 184 497.7 184 480V256.9L155.4 304.5C146.3 319.6 126.7 324.5 111.5 315.4C96.37 306.3 91.47 286.7 100.6 271.5L158.8 174.6C176.2 145.7 207.4 128 241.1 128H270.9C304.6 128 335.8 145.7 353.2 174.6L411.4 271.5C420.5 286.7 415.6 306.3 400.5 315.4C385.3 324.5 365.7 319.6 356.6 304.5L328 256.9V480C328 497.7 313.7 512 296 512C278.3 512 264 497.7 264 480V352L248 352zM7.029 7.029C16.4-2.343 31.6-2.343 40.97 7.029L120.1 87.03C130.3 96.4 130.3 111.6 120.1 120.1C111.6 130.3 96.4 130.3 87.03 120.1L7.029 40.97C-2.343 31.6-2.343 16.4 7.029 7.029V7.029zM471 7.029C480.4-2.343 495.6-2.343 504.1 7.029C514.3 16.4 514.3 31.6 504.1 40.97L424.1 120.1C415.6 130.3 400.4 130.3 391 120.1C381.7 111.6 381.7 96.4 391 87.03L471 7.029zM7.029 471L87.03 391C96.4 381.7 111.6 381.7 120.1 391C130.3 400.4 130.3 415.6 120.1 424.1L40.97 504.1C31.6 514.3 16.4 514.3 7.029 504.1C-2.343 495.6-2.343 480.4 7.029 471V471zM391 424.1C381.7 415.6 381.7 400.4 391 391C400.4 381.7 415.6 381.7 424.1 391L504.1 471C514.3 480.4 514.3 495.6 504.1 504.1C495.6 514.3 480.4 514.3 471 504.1L391 424.1z"></path>
								</svg>
								<h3 class="mb-3">Intervenants de renommée&nbsp;</h3>
								<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Apportent leur expertise et
																																				              leur savoir-faire aux participants, ce qui leur permet d'améliorer leurs propres compétences.<br></p>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="mx-auto service-box mt-5" data-aos="fade" data-aos-delay="150">
								<svg
									xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
									<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
									<path d="M482.8 29.23C521.7 68.21 521.7 131.4 482.8 170.4L381.2 271.9L390.6 281.4C403.1 293.9 403.1 314.1 390.6 326.6C378.1 339.1 357.9 339.1 345.4 326.6L185.4 166.6C172.9 154.1 172.9 133.9 185.4 121.4C197.9 108.9 218.1 108.9 230.6 121.4L240.1 130.8L341.6 29.23C380.6-9.744 443.8-9.744 482.8 29.23L482.8 29.23zM55.43 323.3L176.1 202.6L221.4 247.9L100.7 368.6C97.69 371.6 96 375.6 96 379.9V416H132.1C136.4 416 140.4 414.3 143.4 411.3L264.1 290.6L309.4 335.9L188.7 456.6C173.7 471.6 153.3 480 132.1 480H89.69L49.75 506.6C37.06 515.1 20.16 513.4 9.373 502.6C-1.413 491.8-3.086 474.9 5.375 462.2L32 422.3V379.9C32 358.7 40.43 338.3 55.43 323.3L55.43 323.3z"></path>
								</svg>
								<h3 class="mb-3">Ateliers d'initiation pour les débutants</h3>
								<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Contribue à apprendre les
																																				              bases nécessaires pour se lancer dans différents projet et permettent de progresser rapidement</p>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 offset-xxl-0 text-center">
							<div class="mx-auto service-box mt-5" data-aos="fade" data-aos-delay="100">
								<svg
									xmlns="http://www.w3.org/2000/svg" viewbox="0 -64 640 640" width="1em" height="1em" fill="currentColor" class="fa-4x mb-3 sr-icons" style="font-size: 65px;color: var(--bs-primary);">
									<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
									<path d="M412.6 182c-10.28-8.334-25.41-6.867-33.75 3.402c-8.406 10.24-6.906 25.35 3.375 33.74C393.5 228.4 400 241.8 400 255.1c0 14.17-6.5 27.59-17.81 36.83c-10.28 8.396-11.78 23.5-3.375 33.74c4.719 5.806 11.62 8.802 18.56 8.802c5.344 0 10.75-1.779 15.19-5.399C435.1 311.5 448 284.6 448 255.1S435.1 200.4 412.6 182zM473.1 108.2c-10.22-8.334-25.34-6.898-33.78 3.34c-8.406 10.24-6.906 25.35 3.344 33.74C476.6 172.1 496 213.3 496 255.1s-19.44 82.1-53.31 110.7c-10.25 8.396-11.75 23.5-3.344 33.74c4.75 5.775 11.62 8.771 18.56 8.771c5.375 0 10.75-1.779 15.22-5.431C518.2 366.9 544 313 544 255.1S518.2 145 473.1 108.2zM534.4 33.4c-10.22-8.334-25.34-6.867-33.78 3.34c-8.406 10.24-6.906 25.35 3.344 33.74C559.9 116.3 592 183.9 592 255.1s-32.09 139.7-88.06 185.5c-10.25 8.396-11.75 23.5-3.344 33.74C505.3 481 512.2 484 519.2 484c5.375 0 10.75-1.779 15.22-5.431C601.5 423.6 640 342.5 640 255.1S601.5 88.34 534.4 33.4zM301.2 34.98c-11.5-5.181-25.01-3.076-34.43 5.29L131.8 160.1H48c-26.51 0-48 21.48-48 47.96v95.92c0 26.48 21.49 47.96 48 47.96h83.84l134.9 119.8C272.7 477 280.3 479.8 288 479.8c4.438 0 8.959-.9314 13.16-2.835C312.7 471.8 320 460.4 320 447.9V64.12C320 51.55 312.7 40.13 301.2 34.98z"></path>
								</svg>
								<h3 class="mb-3">Conférences sur divers sujets</h3>
								<p class="text-center text-muted mb-0" style="font-family: ABeeZee, sans-serif;">Permet d'en apprendre
																																				              davantage sur les différents aspects du développement et de se tenir au courant des dernières tendances.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="hackathons" class="p-0">
				<div class="container-fluid p-0">
					<div class="row g-0 popup-gallery">
						{% for hackathon in hackathons %}
							<div class="col-sm-6 col-lg-4">
								<a class="portfolio-box" href={{hackathon.image}}><img class="img-fluid" src={{hackathon.image}}>
									<div class="portfolio-box-caption" style="background: var(--bs-primary);">
										<div class="portfolio-box-caption-content">
											<div id="hackaNameDiv" class="project-category text-faded">
												<span id="hackaName" style="font-family: 'Open Sans', sans-serif;">{{hackathon.theme}}</span>
											</div>
											<div id="hackaDetailDiv" class="project-name">
												<span id="hackaDetail" style="font-family: 'Open Sans', sans-serif;">{{hackathon.description}}</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="text-white bg-dark" data-bss-parallax-bg="true" id="galerie" style="background: url(&quot;{{ asset('img/modern-futuristic-sci-fi-background.jpg?h=08e165ee798ccf77db5c697f0861355a&quot;);background-size: auto;') }}">
				<div class="container text-center">
					<h2 data-aos="fade" data-aos-once="true" class="mb-4">Quelques photos de nos hackatons</h2>
					<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="light my-4">
				</div>
				<!-- Start: Cool Lightbox with Gallery -->
				<div class="container">
					<div class="row" data-aos="fade-up" data-aos-once="true" style="margin-top: 4rem;">
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a data-fancybox="gallery" href="{{ asset('img/gallerie/1.jpg?h=68edb08842d0ff16554d66a83280c4db') }}"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/1.jpg?h=68edb08842d0ff16554d66a83280c4db') }}"></a>
						</div>
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/2.jpg?h=2060444eb1256ce9bb74b5552095191c') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/2.jpg?h=2060444eb1256ce9bb74b5552095191c') }}"></a>
						</div>
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/3.jpg?h=85998555d90aa838f21f09429beb9154') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/3.jpg?h=85998555d90aa838f21f09429beb9154') }}"></a>
						</div>
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/4.jpg?h=0f9562f049bdd495f85ab99f4893fb62') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/4.jpg?h=0f9562f049bdd495f85ab99f4893fb62') }}"></a>
						</div>
					</div>
					<div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" style="margin-bottom: -50px;">
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/5.jpg?h=6bac7df9f12d48eccb6446ac368c239e') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/5.jpg?h=6bac7df9f12d48eccb6446ac368c239e') }}"></a>
						</div>
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/6.jpg?h=36a805561332fb2945678ec47212f7d4') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/6.jpg?h=36a805561332fb2945678ec47212f7d4') }}"></a>
						</div>
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/7.jpg?h=622341fb5af9111da1ae91d45dcec575') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/7.jpg?h=622341fb5af9111da1ae91d45dcec575') }}"></a>
						</div>
						<div class="col-md-3" style="margin-bottom: 50px;">
							<a href="{{ asset('img/gallerie/8.jpg?h=ecb2b2d80b53b28212174c1f6bb4fb01') }}" data-fancybox="gallery"><img data-bss-hover-animate="pulse" class="img-fluid" src="{{ asset('img/gallerie/8.jpg?h=ecb2b2d80b53b28212174c1f6bb4fb01') }}"></a>
						</div>
					</div>
				</div>
				<!-- End: Cool Lightbox with Gallery -->
			</section>
			<section id="contact">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 text-center mx-auto">
							<h2 class="section-heading">Contactez-nous !</h2>
							<hr data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="my-4" style="border-color: var(--bs-primary);">
							<p class="mb-5" style="font-family: ABeeZee, sans-serif;">Prêt à participer à nos hackatons ? C'est génial !
								<br>Appelez-nous ou envoyez-nous un courriel et nous vous répondrons dans les plus brefs délais !</p>
						</div>
					</div>
					<div class="row d-flex justify-content-center">
						<div class="col-md-6 col-lg-4 col-xl-4">
							<div class="d-flex flex-column justify-content-center align-items-start h-100">
								<div class="d-flex align-items-center p-3">
									<div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
										<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-telephone">
											<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
										</svg>
									</div>
									<div class="px-2">
										<h6 data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="350" data-aos-once="true" class="mb-0" style="font-weight: bold;">Téléphone</h6>
										<p data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="400" data-aos-once="true" class="mb-0" style="font-family: ABeeZee, sans-serif;">06 65 54 43 32<br></p>
									</div>
								</div>
								<div class="d-flex align-items-center p-3">
									<div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
										<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-envelope">
											<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
										</svg>
									</div>
									<div class="px-2">
										<h6 data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="350" data-aos-once="true" class="mb-0" style="font-weight: bold;">Email</h6>
										<p data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="400" data-aos-once="true" class="mb-0" style="font-family: ABeeZee, sans-serif;">hackantt@gmail.com</p>
									</div>
								</div>
								<div class="d-flex align-items-center p-3">
									<div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
										<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-pin">
											<path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
										</svg>
									</div>
									<div class="px-2">
										<h6 data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="350" data-aos-once="true" class="mb-0" style="font-weight: bold;">Localisation</h6>
										<p data-aos="zoom-in-right" data-aos-duration="300" data-aos-delay="400" data-aos-once="true" class="mb-0" style="font-family: ABeeZee, sans-serif;">France - Savary de Mauléon</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-5 col-xl-4">
							<div>
								<form
									id="contact" class="p-3 p-xl-4" method="post">
									<!-- Start: Success Example -->
									<div class="mb-3"></div>
									<!-- End: Success Example -->
									<!-- Start: Error Example -->
									<div class="mb-3"><input class="form-control" type="email" id="email" name="email" placeholder="Email" style="font-family: ABeeZee, sans-serif;"></div>
									<!-- End: Error Example -->
									<div class="mb-3">
										<textarea class="form-control" id="message" name="message" rows="6" placeholder="Message" style="font-family: ABeeZee, sans-serif;"></textarea>
									</div>
									<div>
										<button class="btn btn-primary d-block w-100" id="envoyer" type="submit" style="background: var(--bs-primary);">Envoyer</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Start: Footer Basic -->
				<footer class="text-center">
					<div class="container text-muted py-4 py-lg-5">
						<ul class="list-inline" style="font-family: ABeeZee, sans-serif;">
							<li class="list-inline-item me-4">
								<a class="link-secondary" href="loizeau.site">Portfolio 1</a>
							</li>
							<li class="list-inline-item me-4">
								<a class="link-secondary" href="#">Portfolio 2</a>
							</li>
							<li class="list-inline-item">
								<a class="link-secondary" href="#">Portfolio 3</a>
							</li>
						</ul>
						<ul class="list-inline">
							<li class="list-inline-item me-4">
								<a href="https://github.com/HACKANTT" style="color: var(--bs-primary);">
									<svg
										xmlns="http://www.w3.org/2000/svg" viewbox="-8 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-3">
										<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
										<path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path>
									</svg>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://savary-mauleon.paysdelaloire.e-lyco.fr/" style="color: var(--bs-primary);">
									<svg
										xmlns="http://www.w3.org/2000/svg" viewbox="0 -64 640 640" width="1em" height="1em" fill="currentColor" class="fs-3">
										<!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
										<path d="M320 128C328.8 128 336 135.2 336 144V160H352C360.8 160 368 167.2 368 176C368 184.8 360.8 192 352 192H320C311.2 192 304 184.8 304 176V144C304 135.2 311.2 128 320 128zM476.8 98.06L602.4 125.1C624.4 130.9 640 150.3 640 172.8V464C640 490.5 618.5 512 592 512H48C21.49 512 0 490.5 0 464V172.8C0 150.3 15.63 130.9 37.59 125.1L163.2 98.06L302.2 5.374C312.1-1.791 327-1.791 337.8 5.374L476.8 98.06zM256 512H384V416C384 380.7 355.3 352 320 352C284.7 352 256 380.7 256 416V512zM96 192C87.16 192 80 199.2 80 208V272C80 280.8 87.16 288 96 288H128C136.8 288 144 280.8 144 272V208C144 199.2 136.8 192 128 192H96zM496 272C496 280.8 503.2 288 512 288H544C552.8 288 560 280.8 560 272V208C560 199.2 552.8 192 544 192H512C503.2 192 496 199.2 496 208V272zM96 320C87.16 320 80 327.2 80 336V400C80 408.8 87.16 416 96 416H128C136.8 416 144 408.8 144 400V336C144 327.2 136.8 320 128 320H96zM496 400C496 408.8 503.2 416 512 416H544C552.8 416 560 408.8 560 400V336C560 327.2 552.8 320 544 320H512C503.2 320 496 327.2 496 336V400zM320 88C271.4 88 232 127.4 232 176C232 224.6 271.4 264 320 264C368.6 264 408 224.6 408 176C408 127.4 368.6 88 320 88z"></path>
									</svg>
								</a>
							</li>
						</ul>
						<p class="mb-0" style="font-family: 'Open Sans', sans-serif;">2022 - HACKANTT</p>
					</div>
				</footer>
				<!-- End: Footer Basic -->
			</section>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
			<script src="{{ asset('js/script.min.js?h=c6c4c7ea63d716c5d98d6a43ac927385') }}"></script>
		{% endblock %}
	</body>
</html>
